.venv/
__pycache__/
*.pyc
/.idea/
/.vscode/
/logs/*
!/logs/.keep
/assets/*
!/assets/.keep
/data/*
!/data/.keep
.cache/
*~
.DS_Store
/codefetch/
.vscode/
.gemini/
.crawl4ai/
fullstackopen_en_repo.egg-info/
